---
interface Props {
  title: string;
  description: string;
  href: string;
  icon: string;
}

const { title, description, href, icon } = Astro.props;
---

<div class="service-card">
  <div class="service-card__icon" set:html={icon} />
  <h3 class="service-card__title">{title}</h3>
  <p class="service-card__description">{description}</p>
  <a href={href} class="service-card__link">
    Learn More <span aria-hidden="true">&rarr;</span>
  </a>
</div>
